{% extends 'base.html'%}
{%block title%}
<title>{{player.name}}</title>
{%endblock%}
{%block content%}
{% load static %}
<br><br>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    {% if player.image%}
                  <div class="swiper-slide">
                    <a href="{{player.image.url}}"><img src="{{player.image.url}}" alt="" srcset="" class="img-fluid" id="card-img-top"></a>
                </div>
                 
                 {%endif%}

                 {% if player.image2%}
                  <div class="swiper-slide">
                    <a href="{{player.image2.url}}"><img src="{{player.image2.url}}" alt="" srcset="" class="img-fluid" id="card-img-top"></a>
                </div>
                
                 {%endif%}
  
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
                    
        </div>
        <div class="col-lg-6">
            <h4>Name: {{ player.name|title}}</h4>
            {% if player.nick_name%}
            <h5>Nick Name: {{player.nick_name}}</h5>
            {%endif%}
            <h5>Age: {{player.age}}</h5>
            <h5>position: {{player.position}}</h5>
            <h5>Strong foot: {{player.strong_foot}}</h5>
            <h5>kit number: {{player.kit_number}}</h5>
            {% if player.role%}
            <h5>Role: {{player.role}}</h5>
            {%endif%}
            <h5>Goals: {{player.goals}}</h5>
            <h5>Assist: {{player.assists}}</h5>
            <h5>Year joined: {{player.year_joined}}</h5>
            <h5>Contract Expiry: {{player.contract}}</h5>
            
            <section id="skills" class="skills">
                <div class="container" data-aos="fade-up">
          
                  <div class="row skills-content">
                    <h3 class="text-align-center">Skills</h3> <hr>
                    <div class="col-lg-6">
          
                      <div class="progress">
                        <span class="skill">PAC <i class="val">{{player.PAC}}</i></span>
                        <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{player.PAC}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
          
                      <div class="progress">
                        <span class="skill">SHO <i class="val">{{player.SHO}}</i></span>
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{player.SHO}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
          
                      <div class="progress">
                        <span class="skill">PAS<i class="val">{{player.PAS}}</i></span>
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{player.PAS}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
          
                    </div>
          
                    <div class="col-lg-6">
          
                      <div class="progress">
                        <span class="skill">DRI<i class="val">{{player.DRI}}</i></span>
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{player.DRI}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
          
                      <div class="progress">
                        <span class="skill">DEF <i class="val">{{player.DEF}}</i></span>
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{player.DEF}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
          
                      <div class="progress">
                        <span class="skill">PHY <i class="val">{{player.PHY}}</i></span>
                        <div class="progress-bar-wrap">
                          <div class="progress-bar" role="progressbar" aria-valuenow="{{player.PHY}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
          
                    </div>
          
                  </div>
          
                </div>
              </section><!-- End Skills Section -->
          
              </div> <hr>


        </div>
    </div>

    
</div>

 <br> 
 <br>
<style>
    #card-img-top {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
      body{
        background-color: white;
      }
</style>

{%endblock%}